.prod-cont{
    padding: 10px;
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prod-cont>img{
    width: 100%;
}
.title-prod{
   
    font-size: 1.6rem;
    font-weight: bold;
}
.subtitle-prod{
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.prod-info{
    padding: 5px 5px;
}
.price-prod{
    font-weight: 700;
    font-size: 1.2rem;
}